.discover-container-parent{
    padding: 10px 20px;
    position: relative;
    .icon-scroll{
        font-size: 30px;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        opacity: 0.4;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        &.left{
            left: -0;
        }
        &.right{
            left: unset;
            right: -10px;
        }
    }
    h4{
        display: inline;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        opacity: 0.6;
        transition: all 0.3s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
}

.discover-container{
    display: flex;
    align-items: center;
    max-width: calc(100vw - 300px);
    overflow-x: auto;
    padding: 20px 10px;
    position: relative;
    &--individual{
        position: relative;
        &:not(:last-child){
            margin-right: 20px;
        }
        img{
            width: 165px;
            height: 165px;
            margin-bottom: 12px;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
                &~svg{
                    opacity: 1;
                    top: 25%;
                }
            }
        }
        span{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
            width: 170px;
            color: #f2f2f2;
            opacity: 0.7;
            cursor: pointer;
        }
        &--title{
            font-size: 16px;
        }
        &--user{
            font-size: 13px;
            margin-top: 4px;
        }
        &--play{
            font-size: 60px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            top: 35%;
            color: $play_pause_color;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }
    }
    &::-webkit-scrollbar{
        display: none;
    }
}