.discover-container-parent{
    .icon-scroll{
        font-size: 40px;
        color: #fff;
        position: absolute;
        top: 71px;
        left: -10px;
        cursor: pointer;
        &.left{
            left: -10px;
        }
        &.right{
            left: unset;
            right: -10px;
        }
    }
}

.discover-container{
    display: flex;
    align-items: center;
    max-width: calc(100vw - 300px);
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 10px;
    position: relative;
    &--individual{
        position: relative;
        &:not(:last-child){
            margin-right: 20px;
        }
        img{
            width: 165px;
            height: 165px;
            margin-bottom: 12px;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
        span{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
            width: 170px;
            color: #f2f2f2;
            opacity: 0.7;
            cursor: pointer;
        }
        &--title{
            font-size: 16px;
        }
        &--user{
            font-size: 13px;
            margin-top: 4px;
        }
        &--play{
            font-size: 60px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            top: 35%;
            color: #ea802a;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }
        &:hover{
            svg{
                opacity: 1;
                top: 25%
            }
        }
    }
    &::-webkit-scrollbar{
        display: none;
    }
}