.app-home{
    height: 100vh;
    width: 100vw;
    background: #f2f2f2;
    .app-home-container{
    height: calc(100vh - 72px);
    position: fixed;
    top: 0;
    left: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    }
}