.user-stream{
    padding: 20px 40px;
    font-size: 16px;
    span, .playlist-info-container--tracks--item--info{
        color: #fff;
    }
    span{
        font-size: 13px;
        opacity: 0.6;
    }
}