.user-container{
    padding: 0 20px;
    height: 100%;
    color: #fff;
    &--visual{
        margin-right: -20px;
        margin-left: -20px;
        height: 200px;
        background-color: #312b2b;
        background-size: 100% 100% !important;
        background-position: top left !important;
        background-repeat: no-repeat !important;
        position: relative;
        &--parent{
            position: absolute;
            top: 133px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            text-align: center;
            img{
                border-radius: 50%;
                height: 150px;
                width: 150px;
                margin-bottom: 20px;
            }
            &--info--desc{
                margin-top: 20px;
                padding: 0 20px;
                max-width: 250px;
                max-height: calc(100vh - 400px);
                overflow-y: auto;
                opacity: 0.5;
            }
            &--social{
                margin-bottom: 20px;
                a{
                    display: block;
                    opacity: 0.5;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &--sub{
        display: flex;
        margin: 0 -20px;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;
        padding-left: 290px;
        padding-right: 20px;
        background: rgba(29, 24, 24, 0.5);
    }
    &--bottom{
        margin-top: 40px;
        display: flex;
        &--info{
            padding: 0 20px;
            max-width: 300px;
            text-align: center;
        }
        &--content{
            flex: 1;
            margin-left: 250px;
            &--nav{
                display: flex;
                z-index: 99;
                a{
                    font-size: 18px;
                    font-weight: 300;
                    margin-left: 20px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:first-child{
                        margin-left: 0;
                    }
                    &:visited, &:link{
                        color: #fff;
                    }
                    &.active, &:hover{
                        color: #5987d0;
                    }
                }
            }
            &--likes{
                display: flex;
                flex-wrap: wrap;
                @include hd_fullhd{
                 width: 60vw;
                 margin: 0 auto;
                 }
            }
        }
    }  
}